<div class="wrapper">
  <app-dish-list-item *ngFor="let dish of (dishes
                                          | dishCategory: filteredData.category
                                          | dishCuisine: filteredData.cuisine
                                          | dishRanking: filteredData.ranking
                                          | dishMinPrice: filteredData.minPrice
                                          | dishMaxPrice: filteredData.maxPrice)"
  [dish]="dish">                                        
  </app-dish-list-item>
</div>

