* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: #fff;
  font-size: 16px;
  font-family: sans-serif;
}

#board {
  height: 100vh;
  background-image: url(img/board-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  position: relative;
  cursor: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoombie {
  width: 200px;
  height: 312px;  
  background: url(img/walkingdead.png);
  animation: walk 0.5s 0s infinite steps(9), move 8s 0s 1 linear both;
  transform-origin: center bottom;
  position: absolute;
  bottom: 20px;
  left: 200px;
}

@keyframes walk {
  100% {
    background-position-x: -1800px;
  }
}

@keyframes move {
  0% {
    left: 100%; 
  }
  100% {
    left: -200px;
  }
}

#crosshair {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #ffffff8c;
  pointer-events: none;
  transform: translate(-50%, -50%);
  position: absolute; 
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#crosshair::before {
  content: "";
  width: 22px;
  height: 22px;
  background: #d80000;
  border-radius: 50%;
}

#score {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 70px;
  font-family: monospace;
  font-weight: bold;
  user-select: none;
  color: #fff;
}

#passed {
  position: absolute;
  right: 300px;
  top: 20px;
  font-size: 70px;
  font-family: monospace;
  font-weight: bold;
  user-select: none;
  color: #f00;
}

#game_over {
  display: none;
  font-size: 200px;
  font-weight: bold;
  color: #f75252;
  user-select: none;
}
