<section id="form">
  <header>
    <h3>Dodaj nowe danie</h3>
  </header>
  <content class="wrapper">
    <form [formGroup]="dishForm" (ngSubmit)="addDish()">
      <input formControlName="name" type="text" placeholder="Nazwa potrawy">
      <input formControlName="cuisine" type="text" placeholder="Kuchnia świata (np. Polska, Chińska)">
      <input formControlName="category" type="text" placeholder="Kategoria (np. dania głowne, deser, przystawka)">
      <input formControlName="ingredients" type="text" placeholder="Składniki (np. ogórek, makaron)">
      <input formControlName="maxReleases" type="text" placeholder="Maksymalna liczba wydań">
      <input formControlName="price" type="text" placeholder="Cena">
      <input formControlName="description" type="text" placeholder="Opis">
      <input formControlName="images" type="text" placeholder="Linki do zdjęć">
      <input type="submit" [disabled]="!dishForm.valid" value="Dodaj">
    </form>
  </content>
</section>