<div class="dish">
  <img src="{{ dish.images[0] }}" class="dish-img" alt="img">
  <div class="dish-body">
    <div class="dish-head">
      <h3 class="dish-title">{{ dish.name | uppercase }}</h3>
      <app-dish-ranking [dish]="dish"></app-dish-ranking>
    </div>

    <p>Kuchnia: {{ dish.cuisine | uppercase }} | Kategoria: {{ dish.category }}</p>
    <p class="dish-ingredients">Składniki: {{ dish.ingredients.join(", ") }}</p>

    <ng-template *ngIf="dish.maxReleases > 0; then thenBlock else elseBlock"></ng-template>
    <ng-template #thenBlock><p class="dish-description">{{ dish.description }}</p></ng-template>
    <ng-template #elseBlock><p class="danger">Brak produktu!</p></ng-template>
    
    <div class="dish-wrapper">
      <div class="buttons">
        <button (click)="addToCart(dish)" [ngClass]="{'dish-btn-disable': dish.maxReleases === 0}" class="dish-btn dish-btn-inc"><i class="fa fa-plus"></i></button>
        <button (click)="removeFromCart(dish)" class="dish-btn dish-btn-dec"><i class="fa fa-minus"></i></button>
        <span>Dodano: {{ inCart }}</span>
      </div>
      <p class="dish-price">{{ dish.price | currency }}</p>
    </div>
  </div>
  <div class="dish-footer">
    <small class="text-muted" [ngClass]="{'danger': dish.maxReleases <= 3 }">Liczba możliwych dań do wydania: {{ dish.maxReleases }}</small>
    <button (click)="remove($event)" class="dish-btn-remove">Usuń</button>
  </div>
</div>
