@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

.container {
    padding: 30px;
}

.navigation {
    width: 300px;
}

.mainmenu {
    border-radius: 10px;
}

.mainmenu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu a, .mainmenu .main {
    display: block;
    background-color: #ff5858;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
}

.mainmenu a {
    position: relative;
}

.mainmenu>li:first-child>.main {
    border-radius: 10px 10px 0 0;
}

.mainmenu>li:last-child>.main {
    border-radius: 0 0 10px 10px;
}

input {
    display: none;
}

input#submenu1:checked ~ .container .navigation .mainmenu li ul[data-submenu="1"],
input#submenu2:checked ~ .container .navigation .mainmenu li ul[data-submenu="2"],
input#submenu3:checked ~ .container .navigation .mainmenu li ul[data-submenu="3"] {
    display: block;
    max-height: 200px;
}

input#submenu1:checked ~ .container .navigation label[for="submenu1"]::after,
input#submenu2:checked ~ .container .navigation label[for="submenu2"]::after,
input#submenu3:checked ~ .container .navigation label[for="submenu3"]::after {
    z-index: 100;
    content: "\A";
    border-style: solid;
    border-width: 10px 19px 0 19px;
    border-color: #ff5858 transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

.submenu a {
    background-color: #004398;
    position: relative;
}

.submenu a:hover {
    background: linear-gradient(180deg, #004398 50%, #005dd2 50%);
}

.submenu a:hover::before {
    content: "\A";
    border-style: solid;
    border-width: 19px 0 19px 10px;
    border-color: transparent transparent transparent #00ff08;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    position: relative;
}

.main:hover {
    cursor: pointer;
}

.main:last-child::after {
    content: none !important;
}

.submenu a:hover::after {
    content: none;
}
