@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    padding: 50px;
}

.navigation {
  width: 300px;

}

.mainmenu {
      border-radius: 10px;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  background-color: #ff5858;
  text-decoration: none;
  padding: 10px 20px;
    color: #fff;
}

.mainmenu a {
    position: relative;
}


.mainmenu > li:hover > .submenu {
display: block;
  max-height: 200px;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.submenu a {
  background-color: #004398;
  position:relative;
}

.submenu a:hover {
  background: linear-gradient(180deg, #004398 50%, #005dd2 50%);
}

.submenu a:hover::before {
    content:"\A";
    border-style: solid;
    border-width: 19px 0 19px 10px;
    border-color: transparent transparent transparent #00ff08;
    position: absolute;
    top: 0;
    left: 0;
}


.mainmenu li:hover > .main::after{
    z-index: 100;
    content:"\A";
    border-style: solid;
    border-width: 10px 19px 0 19px;
    border-color: #ff5858 transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.submenu a:hover::after {
    content: none;
}
