.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.danger {
  color: #e05858;
  font-weight: bold;
}

.dish {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.dish-cheapest {
  border: 3px solid #e05858;
}

.dish-expensive {
  border: 3px solid #40c730;
}

.dish-img {
  width: 100%;
}

.dish-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.dish-body p {
  margin-bottom: 5px;
}

.dish-title {
  margin-bottom: .5rem;
}

.dish-description {
  color: #424242;
}

.dish-price {
  float: right;
  margin: 10px 0;
  font-size: 26px;
  font-weight: bold;
}

.dish-footer {
  padding: .5rem 1rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
}

.dish-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-btn {
  padding: 6px 8px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
}

.dish-btn:hover {
  cursor: pointer;
}

.dish-btn-disable {
  border: 1px solid #b5b5b5 !important;
  color: #b5b5b5 !important;
  cursor: default !important;
}

.dish-btn-add {
  border: 1px solid #19b127;
  color: #19b127;
}

.dish-btn-remove {
  border: 1px solid #ef4242;
  color: #ef4242;;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
