img {
  width: 100%;
}

.danger {
  color: #e05858;
  font-weight: bold;
}

.dish {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.dish-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.dish-body p {
  margin-bottom: 5px;
}

.dish-title {
  margin-bottom: .5rem;
}

.dish-description {
  color: #424242;
}

.dish-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-price {
  float: right;
  margin: 10px 0;
  font-size: 26px;
  font-weight: bold;
}

.dish-btn {
  padding: 6px 8px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
}

.dish-btn-inc {
  border: 1px solid #19b127;
  color: #19b127;
}

.dish-btn-dec {
  border: 1px solid #ef4242;
  color: #ef4242;;
}

.dish-btn-disable {
  border: 1px solid #b5b5b5 !important;
  color: #b5b5b5 !important;
  cursor: default !important;
}

.dish-btn-remove {
  padding: 5px 10px;
  background: #ff3838;
  color: #fff;
  font-weight: bold;
  border: 0;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}

.dish-footer {
  padding: .5rem 1rem;
  background-color: rgba(0,0,0,.03);
  border-top: 1px solid rgba(0,0,0,.125);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
