* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: auto 5%;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header header header"
      "sidebar nav ad"
      "sidebar content ad"
      "footer footer footer";
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1fr 1fr 10fr 1fr;
}


.header, .content, .main-nav, .side, .ad, .main-footer {
    padding: 10px;
    border: 5px solid #ff9393;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}


@media (max-width: 1024px) {
  .wrapper {
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "sidebar content"
        "ad footer"
   }
}

@media (max-width: 480px) {
  .wrapper {
    grid-template-rows: 1fr 1fr 10fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "sidebar"
        "sidebar"
        "ad"
        "footer"
   }

}


img{
    width: 100%;
    height: auto;
}

.profile-card{
    width: 300px;
    height: auto;
    text-align: center;
    margin: 20px auto;
    box-shadow:  0px 0px 18px #ccc;
}
.profile-card .profile-header{
    height: 40px;
}

.profile-header {
    background: #ddd;
    padding: 20px;
}

.profile-card .profile-body{
    background-color: var(--white);
    padding: 20px 40px 40px 40px;
}

.profile-card .profile-body .author-img{
    margin-top: -20px;
    margin-bottom: 20px;
}
.profile-card .profile-body .author-img img{
    width: 170px;
    height: 170px;
    border-radius: 50%; 
    padding: 5px;
    background-color: #ddd;
}

.profile-card .profile-body .name{
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;

}
.profile-card .profile-body .intro{
   font-size: 14px;
   font-weight: 400;
   line-height: 1.6;
   margin: 20px  0px 30px  0px;
}

 .social-icon ul {
    list-style-type: none;
}

 .social-icon ul li {
    display: inline-block;
}

 .social-icon ul li a {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  border:1px solid #ddd;
  display: block;
  border-radius: 50%;
  transition: all 0.5s ease-out;
 }


 .social-icon ul li a:hover {
  background-color: var(--dark);
  border:1px solid var(--dark);
 }
  .social-icon ul li a i{
   line-height: 35px;
   color:#666;
  }
  .social-icon ul li a i:hover,
    .social-icon ul li a:hover i{
 
   color:var(--white);
  }